  <%= render "students/navbar" %>
  <div class="bd">
<div class="card-deck twlv">
  <div class="card abtt">
    <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">L1</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card abtt">
   <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">L2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card abtt">
    <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">L3</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
<div class="card-deck twlv">
  <div class="card abtt">
    <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">Master1</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card abtt">
   <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">Master2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card abtt">
    <%= image_tag("logo.jpeg", :height=>"auto" ,:width=>"auto" ,:alt => "rss feed") %>
    <div class="card-body abt">
      <h5 class="card-title abttt txt">Doctorat</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>